<ion-slides pager="true" [options]="slideOpts" #slidesPoll color="medium">
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="this.slides.slidePrev()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-slide *ngFor="let question of questions; last as isLast" class="step-one">
    <ion-grid *ngIf="question.questionType == 0">
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <p color="dark">{{question.text}}</p>
          </div>
          <div>
            <ion-item *ngFor="let option of question.options">
              <ion-label>{{option.text}}</ion-label>
              <ion-checkbox color="primary" [id]="option.id" [name]="question.id" [value]="option.id"
                [(ngModel)]="option.isChecked"></ion-checkbox>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="question.questionType == 1">
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <p color="dark">{{question.text}}</p>
          </div>
          <div color="medium">
            <ion-list>
              <ion-radio-group name="radio-group" [(ngModel)]="CheckedOption">
                <ion-item *ngFor="let option of question.options">
                  <ion-label>{{option.text}}</ion-label>
                  <ion-radio color="dark" slot="start" [id]="option.id" [name]="question.id" [value]="option.id"
                    [checked]="option.isChecked">
                  </ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="question.questionType == 2">
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <p color="dark">{{question.text}}</p>
          </div>
          <div>
            <ion-item color="medium">
              <ion-range [(ngModel)]="Range" min="1" max="10" snaps="true" color="tertiary" pin="true">
                <ion-label slot="start">
                  <ion-icon name="sad" color="warning" size="large"></ion-icon>
                </ion-label>
                <ion-label slot="end">
                  <ion-icon name="happy" color="success" size="large"></ion-icon>
                </ion-label>
              </ion-range>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="isLast">
      <!-- <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <p color="dark">{{question.text}}</p>
          </div>
          <div >
            <ion-item>
              <ion-textarea
                clearOnEdit="true"
                [(ngModel)]="Comments"
              ></ion-textarea>
            </ion-item>
          </div>
        </ion-col>
      </ion-row> -->
      <!-- <ion-button (click)="slideChanged(isLast)">{{Send}}!</ion-button> -->
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="slideChanged(isLast)">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-slide>

</ion-slides>