ion-item{
    --background: #000F52;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}

ion-select{
    max-width: 100% !important;
}

.item.item-input {
    background-color: transparent;
}


.logo-row {
    padding-top: 50px;
    padding-bottom: 20px;
}
