ion-item{
    --background: transparent;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}

ion-select{
    max-width: 100% !important;
}

.item.item-input {
    background-color: transparent;
}


.logo-row {
    padding-top: 50px;
    padding-bottom: 20px;
}

ion-content.background{
    background-color:#000F52;
    --background: url(../../assets/images/login_2.png) 0 0/100% 100% no-repeat;
}

.centered-company{
    color:white;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}