<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
    <ion-buttons slot="start" padding>
      <ion-icon (click)="goToFavorites()" size="large" name="paper" color="light"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start" padding>
      <ion-icon (click)="goToInfo()" size="large" name="rose" color="light"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" padding>
      <ion-icon (click)="likeCode()" size="large" name="heart" color="danger"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-slides></app-slides>
</ion-content>