.terms{
    color: #434343;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Medium',Arial;
    font-size: 14.0pt;
    vertical-align: middle;
    width: 309px;
    height: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    text-shadow: none;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-top: 0px;
    line-height: 36px;
    font-family: 'Roboto-Medium',Arial;
}

.terms-Info{
    color: #434343;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Regular',Arial;
    font-size: 12.0pt;
    line-height: 0px;
    vertical-align: middle;
    width: auto;
    height: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    text-shadow: none;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-top: 0px;
    font-family: 'Roboto-Regular',Arial;
}
.terms-Link{
    color: #2A85D4;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto-Medium',Arial;
    font-size: 12.0pt;
    vertical-align: middle;
    width: 184px;
    height: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    text-shadow: none;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    line-height: 23px;
    font-family: 'Roboto-Medium',Arial;
}